@use "../../styles/partials/mixins" as *;

.edit-container {
  padding: 0 1.6rem;
  @include tablet {
    padding: 0 3.2rem;

    @include desktop {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}

.title {
  @include flex-row;
  border-bottom: 1px solid $secondary-color--light;

  &__img {
    @include flex-col;
  }

  &__title {
    @include flex-col;
    color: green;
  }
}

.form {
  @include flex-col;
  @include tablet {
  }
}

.form-flex {
  @include flex-col;

  @include tablet {
    @include flex-row;
    padding: 2.4rem 0 2.4rem;
  }
}

.label {
  @include flex-col;
  margin: 0 0 0.4rem;
}

.input {
  margin: 0 0 1.6rem;
  padding: 0 0 0 1.6rem;


  &:focus {
    width: 100%; 
    height: 100%; 
    background: white; 
    border-radius: 2rem; 
    border: 1px solid $primary-color--tertiary;
    }

  &.error {
    // width: 100%; 
    // height: 100%; 
    // background: white; 
    // border-radius: 2rem; 
    border: 1px solid $highlight-color--2;
  }
}

.error-message {
  margin: 0 0 1.6rem;
  padding: 0 0 0 1.6rem;
  color: $highlight-color--2; 
  font-size: 1.2rem; 
  font-family: "regular";
  font-weight: 400; 
  word-wrap: break-word;
  background-image: url("../../assets/icons/error.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px;
  padding-left: 28px;
}

.details {
  @include flex-col;
  padding: 0 2.4rem;
  border-bottom: 1px solid $secondary-color--light;

  @include tablet {
    padding: 0 3.2rem;
    width: 50%;
    border-bottom: 0;
    border-right: 1px solid $secondary-color--light;
  }

  &__title {
    width: 100%;
    margin: 1.6rem 0 2.4rem;

    @include tablet {
      margin: 0 0 2.4rem;
    }
  }
}

.input-description {
  @include flex-col;
  height: 120px;
  @include input-style;
  padding: 1.6rem 0 0 1.6rem;
  font-family: "regular";
  resize: none;
}

.input-item {
  @include flex-col;
  height: 36px;

  @include input-style;
}

.select-category {
  @include flex-col;
  height: 36px;
  @include input-style;
  padding-top: 0.8rem;
}


.availability {
  @include flex-col;
  padding: 0 2.4rem;

  @include tablet {
    width: 50%;
    padding: 0 3.2rem;
  }

  &__title {
    @include flex-col;
    width: 100%;
    margin: 1.6rem 0 2.4rem;

    @include tablet {
      margin: 0 0 2.4rem;
    }
  }

  &__status {
    @include flex-row;
    width: 100%;
    padding: 0;
    margin: 0 0 0;

    .status-container {
      width: 50%;

      .radio-item__text {
        margin: 0 0 0 0.8rem;
      }
    }
  }

  &__quantity {
    @include flex-col;
    width: 100%;
  }
}

.input-quantity {
  @include flex-col;
  height: 36px;
  @include input-style;
}

.select-warehouse {
  @include flex-col;
  height: 36px;
  @include input-style;
  justify-content: center;
  padding-top: 0.8rem;
}

.select-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url("../../assets/icons/dropdown.svg");
  background-position: right center;
  padding-right: 10px;
}

.button-container {
  @include flex-row;
  background-color: $background-color--light;
  gap: 1.6rem;
  padding: 1.6rem 2.4rem;
  flex-direction: row-reverse;

  .btn-style {
    border: 1px solid $secondary-color--light;
    border-radius: 20px;
    width: 100%;
    height: 36px;

    @include tablet {
      width: auto;
      padding: 0 1.6rem;
    }
  }

  .btn-cancel {
    background-color: $background-color--white;
    @include tablet {
      order: 2;
    }
  }

  .btn-submit {
    color: $primary-color--light;
    background-color: $primary-color--tertiary;

    @include tablet {
      order: 1;
    }
  }
}
