@import "/src/styles/partials/variables";
@import "/src/styles/partials/mixins";

.btn--primary {
  @include btn;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: $primary-color--tertiary;
  color: $background-color--white;

  p {
    display: none;
    @include tablet {
      display: inline-block;
    }
  }
}
