@import "/src/styles/partials/variables";

.paper {
  width: 100%;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem -0.3rem rgba(173, 173, 173, 1);
  -moz-box-shadow: 0.3rem 0.3rem 0.5rem -0.3rem rgba(173, 173, 173, 1);
  box-shadow: 0.3rem 0.3rem 0.5rem -0.3rem rgba(173, 173, 173, 1);
  border: 0.1rem solid $secondary-color--dark;
  border-radius: 0.8rem;
  overflow: hidden;
  width: 100%;
}
