@import "./variables.scss";
@import "./breakpoints";

@mixin page-header {
  font-size: 2.1538rem;
  line-height: 2.7692rem;
  font-family: "semi-bold";

  @include tablet {
    font-size: 2.2857rem;
    line-height: 2.8571rem;
  }
}

@mixin subheader {
  font-size: 1.5385rem;
  line-height: 2.1538rem;
  font-family: "semi-bold";

  @include tablet {
    font-size: 1.8571rem;
    line-height: 2.5rem;
  }
}

@mixin LabelsLinksAndButtons {
  font-size: 1rem;
  line-height: 1.5385rem;
  font-family: "regular";
  @include tablet {
    font-size: 1rem;
    line-height: 1.5714rem;
  }
}

@mixin table-header {
  font-size: 0.8462rem;
  line-height: 1.2308rem;
  font-family: "regular";
  color: $secondary-color--dark;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0;

  @include tablet {
    font-size: 0.8571rem;
    line-height: 1.2857rem;
  }
}

@mixin body-lrg {
  font-size: 1.1538rem;
  line-height: 2rem;
  font-family: "regular";
  @include tablet {
    font-size: 1.1429rem;
    line-height: 2rem;
  }
}

@mixin body-med {
  font-size: 1rem;
  line-height: 1.5385rem;
  font-family: "regular";
  @include tablet {
    font-size: 1rem;
    line-height: 1.5714rem;
  }
}

@mixin body-sm {
  font-size: 0.8462rem;
  line-height: 1.2308rem;
  font-family: "regular";
  @include tablet {
    font-size: 0.8571rem;
    line-height: 1.2857rem;
  }
}

@mixin page-gutter {
  margin: 0 1.2308rem;
  padding: 0 1.2308rem;
  @include tablet {
    margin: 0 2.2857rem;
    padding: 0 1.7143rem;
  }
  @include desktop {
    margin: 0 auto;
    padding: 0 1.7143rem;
  }
}

@mixin container {
  width: 100%;
  padding: 0 16px;
  @include desktop {
    padding: 0 64px;
    margin: 0 auto;
    max-width: 1020px;
  }
}
