// colors
$primary-color--dark: #13182c;
$primary-color--light: #fff;
$primary-color--tertiary: #2e66e5;

$secondary-color--dark: #5c667e;
$secondary-color--light: #bdc5d5;

$background-color--dark: #232940;
$background-color--light: #f7f8f9;
$background-color--white: #fff;

$highlight-color--1: #158463;
$highlight-color--2: #c94515;
