// @use "../../styles/partials/breakpoints" as *;
// @use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;

/* 
  Textbox CSS Properties 
*/

.textbox {
  // @include flex(column, flex-start, normal);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  // @include tablet {
  // }
  // @include desktop {
  // }

  &__label {
    color: silver;
    // @include tablet {
    // }
    // @include desktop {
    // }
  }

  &__container {
    // @include flex(row, flex-start, normal);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
    // flex-grow: 1;
    // @include tablet {
    // }
    // @include desktop {
    // }
  }

  &__text {
    background-color: white;
    color: black;
    // @include borderRadius(1px solid grey, 0px 4px 4px 0px);
    border: 1px solid black;
    border-radius: 4px;
    // @include size(100%, auto);
    // padding: $padding-between-components-mobile/2;
    // @include tablet {
    // }
    // @include desktop {
    // }

    &--error {
      // @include borderRadius(1px solid #d22d2d, 0px 4px 4px 0px);
    }
  }
}
