@import "/src/styles/partials/variables";
@import "/src/styles/partials/mixins";

.page-header {
  @include container;
  //   position: absolute;
  //   top: 122px;
  width: 100%;
  height: calc(168px / 2);
  background-color: $background-color--white;
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid $background-color--light;
    background-color: $background-color--white;
    @include tablet {
      flex-direction: row;
      align-content: center;
    }
  }

  &__container-content {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__actions {
  }

  &__container_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
