@import "/src/styles/partials/mixins";

.warehouses_page {
  padding: 0 16px;
  &__container {
    @include container;
    &__container {
      display: flex;
      justify-content: center;
    }
    .paper {
      margin-top: -85px;
    }
    .table {
      background-color: $background-color--white;
    }
  }
}
