@import "/src/styles/partials/mixins";

.warehouses__edit-add-page {
  padding: 0 16px;
}
.warehouses__edit-add-page-container {
  @include container;
  display: flex;
  justify-content: center;
}
.paper {
  margin-top: -85px;
}
.table {
  background-color: $background-color--white;
}
