@import "/src/styles/partials/mixins";
@import "/src/styles/partials/variables";

.inventory_page {
  &__container {
    @include container;
    display: flex;
    justify-content: center;
  }
  .paper {
    margin-top: -85px;
  }
  .table {
    background-color: $background-color--white;
  }
}
