@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/breakpoints";

.search {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem 1.6rem;
  border: 0.1rem solid $secondary-color--light;
  border-radius: 2.5rem;

  input {
    width: 100%;
    border: none;
    background-color: $background-color--white;
  }
  img {
    padding: 0.8rem;
  }
}
