@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/breakpoints";

.search {
  display: flex;
  justify-content: space-around;
  padding: 2px 16px;
  border: 1px solid $secondary-color--light;
  border-radius: 25px;

  input {
    width: 100%;
    border: none;
    background-color: $background-color--white;
  }
  img {
    padding: 8px;
  }
}
